h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  // background-image: url('bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: auto;
  // background-image: url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 20px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-top: 30px;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.alert-notice {
  color: #00F;  
}

.users-session-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  background-color: #464646;

  .users-session-container {
    padding-top: 20px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.users-mypage-wrapper {
  padding-top: 40px;
}

.users-mypage-container {
  padding-top: 40px;
  width: 920px;
  margin: auto;
}

.mypage-left {
  width: 300px;
  float: left;
}

.mypage-right {
  margin-left: 20px;
  width: 600px;
  float: right;
}

.mypage-image {
  width: 300px;
}

.btn-black {
  color: #000000;
  border: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

.request-new-wrapper {
  width: 100vw;
  height: auto;
  background-image: url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  background-color: #464646;

  .request-new-container {
    padding-top: 150px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.request-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;

  .request-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;

  }
}